body{
  display: flex;
  align-content: space-between;
  flex-flow: nowrap column;
  /* border: 2px solid red; */
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  /* height: 100%; */
}
/* .main-structure{
     border: 2px solid red;
  display: flex;
  flex-flow: wrap row;
  align-content: ;
 } */

#main-nav {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  /* align-content: flex-start; */
/* justify-content: space-around; */
}

.main-nav-a{
  margin-right: 10px;
  text-decoration: none;
  color: rgba(0,0,0,0.87);
  font-size: 8px;
  font-family: arial,sans-serif;
  /* font-weight: bold; */
}
.material-icons{
  font-size: 15px;
  margin-top: 5px;
}
#btn-connexion{
  margin-right: 10px;
  text-decoration: none;
  font-size: 8px;
  border: 1px solid #4285f4;
  background-color: #4387fd;
  color: #ffffff;
  border-radius: 2px;
  font-family: arial,sans-serif;
  font-weight: bold;
  padding: 4px 8px 4px 8px;
}

#main-content {
  display: flex;
  /* border: 2px solid black; */
  flex-flow: column wrap;
  align-content: center ;
  justify-content: center;

  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;

  hover: ;

}

.input-field{
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 16px;
padding-left: 14px;
width: 350px;
border-radius: 12px;
border: 1px solid rgba(0,0,0,0.20);
margin-bot: 20px;
}

.search{
  color: rgba(0,0,0,0.40);
  margin-left: -175px;
  margin-top: 5px;
  position: absolute;
  font-size: 12px;
}

.input-submit{
  margin: 16px auto;
  text-align: center;

}

.btn-field{
  /* height: 22px; */
  /* line-height: 27px; */
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  /* margin-top: 20px; */
  margin-right:4px;
  font-size: 9px;
  border-radius: 4px;
  padding: 5px 16px;
  color: #5F6368;

}

#main-footer {
  display: flex;
  /* border: 2px solid red; */
  flex-direction: column;
  /* align-content: flex-end; */
  /* align-items: flex-end; */
  /* justify-content: flex-end; */
}

#div_02-footer {
  display: flex;
  /* border: 2px solid blue; */
  flex-flow: row nowrap;
  justify-content:space-between;
  background-color: #f2f2f2;
  border: 1px solid rgba(0,0,0,0.05);
  /* align-content: flex-end; */
  /* align-items: flex-end; */
  /* justify-content: flex-end; */ */
}

#div_02-footer-span_01{
  display: flex;
  /* border: 2px solid yellow; */
  flex-flow: nowrap row;
  justify-content: space-between;
  /* align-content:  flex-start; */
  /* flex-shrink:1; */

}

#div_02-footer-span_02{
  display: flex;
  /* border: 2px solid green; */
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: flex-start;

}

footer>div>span{
  line-height: 30px;
  font-size: 13px;
  color:#5f6368;
  font-size: 9px;
  white-space: nowrap;
  margin-left: 10px;
  font-family: arial,sans-serif;

}
footer>div>span>div>a{
  line-height: 30px;
  font-size: 7px;
  /* margin-left: 10px; */
  margin-right: 10px;
  color:#5f6368;
  text-decoration: none;
  white-space: nowrap;
  font-family: arial,sans-serif;
}
